<% include ./partials/header %>

<div id="mainContainer" class="ui main text container segment">
    <a class="ui primary inverted button"href="/blogs/<%=blog._id%>/edit">Edit</a>
    <div class="ui huge header"><%=blog.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image"src="<%=blog.image%>" alt="">
            <div class="content">
                <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="description">
                <p><%- blog.body%></p>
            </div>
            <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="ui left floated big inverted red button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>